* {
	padding: 0 !important;
	margin: 0 !important;	
}

#main-content {
	width: 100%;
	height: 100vh;
	background-image: url(../img/soccer.jpeg);
}

header {
	background-color: rgba(0, 0, 0, .9);
	width: 100%;
	color: red;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

